/* 폰트 */
@import url('https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css');
html,body{
    font-family: 'Pretendard', sans-serif; letter-spacing: -0.5px;
    
    /* 스크롤바 자체 */
    ::-webkit-scrollbar {
        width: 10px;  /* 스크롤바 너비 */
        height: 10px; /* 수평 스크롤바 높이 */
    }

    /* 스크롤바 트랙 (배경) */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;  /* 트랙 배경 색상 */
        border-radius: 10px;  /* 트랙 모서리 둥글게 */
    }

    /* 스크롤바 핸들 */
    ::-webkit-scrollbar-thumb {
        background-color: #888;  /* 핸들 배경 색상 */
        border-radius: 10px;  /* 핸들 모서리 둥글게 */
    }

    /* 스크롤바 핸들에 호버 시 색상 변화 */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;  /* 핸들 호버 색상 */
    }
}
  
/* 커스텀 색상 추가 */
:root {
    --custom-blue: #0f3bae;
    --custom-gray: #444;
}

/* TailwindCSS 유틸리티 클래스를 사용해 사용자 정의 색상 적용 */
.bg-custom-blue {background-color: var(--custom-blue);}
.text-custom-blue {color: var(--custom-blue);}
.border-custom-blue {border-color: var(--custom-blue);}
.bg-custom-gray {background-color: var(--custom-gray);}
.text-custom-gray {color: var(--custom-gray);}
.border-custom-gray {border-color: var(--custom-gray);}



/* nav */
a,button{cursor: pointer;}

/* main */
.main-title{font-size:max(11rem,9vw)}

.page_productNameContainer{
    .page_typeButton.page_active{
        background: var(--color-sky-500);
        color:#fff;
    }

    .page_tasteButton{
        &.false{
            border-color: #ddd; //var(--color-gray-300) ???
            color: #999;
        }
    }
}