@charset "utf-8";


.infoWrap{

    .page_specButtons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 13.9rem;
        button{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 100px;
            white-space: nowrap;
            color: rgba(0,0,0,.5);
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 22px;
            border: none;
            padding: 1rem 2rem;
            transition: all .3s cubic-bezier(.66,.1,.37,.94);
            height: 5.8rem;
            svg {
                width: 2.7rem;
                height: 2.7rem
            }
            &:first-child svg {
                width: 3.4rem;
                height: 3.8rem
            }

            &.page_activeApple.on {
                color: #fff;
                background: #02d181;
                transition: all .3s cubic-bezier(.66,.1,.37,.94)
            }
            &.page_activePeach.on {
                color: #fff;
                background: #fc9ec3;
                transition: all .3s cubic-bezier(.66,.1,.37,.94)
            }
        }
        @media (max-width: 700px){
            margin-top: 0;

            button{
                font-size: 1.1rem;
                font-weight: 600;
                line-height: 1.2;
                height: 3.4rem;
                padding: 0 1.2rem;
                svg{
                    width: 1.62rem;
                    height: 1.62rem;
                }
                &:first-child svg {
                    width: 2rem;
                    height: 2.3rem;
                }
            }
        }

        
    }



    .page_specs{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 6.9rem;
        padding-top: 6rem;
        padding-bottom: 20rem;
        position: relative;
        overflow: hidden;

        .swiper-container{
            width: 44rem;
            aspect-ratio: 440 / 500;
            background: #ececec;
            overflow: hidden!important;
            position: relative;
            border: 1px solid hsla(0, 0%, 7%, .078);
            border-radius: 20px;
            overflow: hidden!important;
            font-size: 0;
            line-height: 0;
            will-change: transform; //아이폰 넘침 문제 

            .swiper-slide {
                // text-align: center; 
                position: relative;
                font-size: 0;
                line-height: 1em;
                overflow: hidden;
                img{
                    width: 100%;
                }
            
            }
            
            @media (max-width: 1024px){
                width:100%;
                aspect-ratio: 350 / 290;
                overflow: hidden;
                .swiper-slide{
                    display: flex;
                    height: 100%;
                    align-items: center;
                    flex-shrink: 0;
                    overflow: hidden;
                }
            }

        }

        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
            margin :0;
            margin-right: 20px;
            
        }

        .swiper-pagination-bullet {
            position: relative;
            width: 8px;
            height: 8px;
            text-align: left;
            border-radius: 0;
            opacity: 1;
            margin-right: 5px;
            background-color: transparent;
            border-radius: 8px;
            i {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 8px;
                background-color: #d4d6db;
                border-radius: 8px;
            //progress bar 배경
            }
            b {
                position: absolute;
                bottom: 0;
                left:  0;
                z-index: 2;
                width: 0%;
                height: 8px;
                background-color: hsla(0,0%,7%,.5);
                border-radius: 8px;
            //progress bar 채워지는 부분
            }

        
        }

        .swiper-pagination-bullet-active {
            background-color: transparent;
            width: 50px;
            b {  
                animation-name: countingBar;
                animation-duration: 3s;//autopaly 시간과 맞춰주기
                animation-timing-function: ease-in;
                animation-iteration-count: 1;
                animation-direction: alternate ;
                animation-fill-mode:forwards;
            }
        }    
        
        @keyframes countingBar {
            0% {width: 0;}
            100% {width:100%;}
        }

        @media (max-width: 1024px){
            width: 52.5rem;
            flex-direction: column;
            padding: 6rem 0 9.6rem;
            gap: 4.85rem;
            margin: 0 auto;
        }
        @media (max-width: 700px){
            width: auto;
            border-radius: 4rem;
            gap: 3.2rem;
            padding-top: 4rem;
            padding-left: 5.1282vw;
            padding-right: 5.1282vw;
        }

        
    }
    

    .slideDesc{
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        gap: 3rem;
        justify-content: center;
        .page_specWrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 4rem;

            .page_specName{
                flex: 0 0;
                width: 10.8rem;
                min-width: 10.8rem;
                color: #111;
                font-size: 1.6rem;
                font-weight: 600;
            }
            .page_specValue{
                color: #585858;
                line-height: 140%;
                white-space: pre-line;
                font-size: 1.6rem;
                font-weight: 500;
                flex: 1 0;
            }

        }

        @media (max-width: 1366px){
            .page_specWrapper{            
                .page_specName{
                    font-size: var(--comm-subtext);
                }
                .page_specValue{
                    font-size: var(--comm-subtext);
                }
            }
        }

        @media (max-width: 700px){
            padding: 0 1.8rem;
            gap: 1.8rem;

            .page_specWrapper{
                gap: 1.8rem;                
                .page_specName{
                    min-width:8.5rem;
                    font-size: 1.3rem;
                }
                .page_specValue{
                    font-size: 1.3rem;
                }
            }
        }
    }


}