@charset "utf-8";


.infoWrap{
    >div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .slideWrap{
        width: 440px;
    }
    .slideDesc{
        width: 600px;
        >div{
            // width: min-content;
            white-space: nowrap;
        }
    }

    .page_specName{
        font-size: var(--font-text3);
        width: 150px;
    }
    .page_specValue{
        font-size: var(--font-text3);
    }
    
    .pdSlider{
        position: relative;

        .swiper-slide {
            text-align: center; 
            position: relative;
            overflow: hidden;
            border-radius: 30px;
            border:1px solid #ddd;
            @media (max-width: 1024px){
                height: 0;
                padding-top: 80%;
                img{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
            }
        }
        

        
        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
            margin :0;
            margin-right: 20px;
            
        }

        .swiper-pagination-bullet {
            position: relative;
            width: 8px;
            height: 8px;
            text-align: left;
            border-radius: 0;
            opacity: 1;
            margin-right: 5px;
            background-color: transparent;
            border-radius: 8px;
            i {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 8px;
                background-color: #d4d6db;
                border-radius: 8px;
            //progress bar 배경
            }
            b {
                position: absolute;
                bottom: 0;
                left:  0;
                z-index: 2;
                width: 0%;
                height: 8px;
                background-color: hsla(0,0%,7%,.5);
                border-radius: 8px;
            //progress bar 채워지는 부분
            }

        
        }

        .swiper-pagination-bullet-active {
            background-color: transparent;
            width: 50px;
            b {  
                animation-name: countingBar;
                animation-duration: 3s;//autopaly 시간과 맞춰주기
                animation-timing-function: ease-in;
                animation-iteration-count: 1;
                animation-direction: alternate ;
                animation-fill-mode:forwards;
            }
        }    
        
        @keyframes countingBar {
            0% {width: 0;}
            100% {width:100%;}
        }
        
        
    }


    @media (max-width: 1024px){
        >div{
            display: block;
        }
        .slideWrap{
            width: 100%;
        }
        .slideDesc{
            width: auto;
            padding: 5vw;
        }
        
        .page_specWrapper{
            align-items: flex-start;
        }
        .page_specName{
            font-size: var(--font-title4);
            width: 33%;
        }
        .page_specValue{
            font-size: var(--font-title4);
            white-space: pre-line; 
            width: 66%;
        }
    }
}