@charset "utf-8";

.product-h2{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    >div{
        width: 100%;
        color:var(--custom-gray);
        font-size: var(--font-main-title);
        font-weight: 700;
        line-height: 1em;
        overflow: hidden;
        br{
            display: none;
        }
    }  
    
    &.page_clipPathContainer{
        background: var(--custom-sky);
        >div{
            color:#fff
        }
    }
}

.stickWrap{
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    .stickInner{
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: -140px;
        transform: translateX(-50%);       
        
        img{
            display: inline-block;
            width: 100px;
            position: relative;
            margin: 0 5px;
            &.stick_01{                
                position: absolute;
                bottom: -40px;
                left:calc(50% - 80px);
                transform-origin: bottom;
                transform: rotate(-20deg)
            }
            &.stick_03{                
                position: absolute;
                bottom: -40px;
                left:calc(50% - 30px);
                transform-origin: bottom;
                transform: rotate(20deg)
            }
        }
    }

    @media (max-width: 1024px){
		.stickInner{
            bottom: -10vw;
            img{
                width: 9vw;
                &.stick_01{            
                    bottom: -2vw;
                    left:calc(50% - 10vw);
                }
                &.stick_03{             
                    bottom: -2vw;
                    left:calc(50% - 3vw);
                }
            }
        }
	}

    @media (max-width: 767px){
		.stickInner{
            img{
                width: 12vw;
            }
        }
	}
    
}

.page_introductions{
    width: 50vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    
    @media (min-width: 1024px){
        &.grid-m{
            padding-right: 0;
        }
    }

    .page_productNameContainer{
        display: flex;
        align-items: center;
        .page_buttonGroups{
            display: flex;
            padding: .3rem;
            align-items: center;
            background: #f3f3f3;
            border-radius: 10px;
            button{
                color: rgba(0, 0, 0, .5);
                font-size: var(--font-desc2);
                // line-height: 2.4rem;
                font-weight: 600;
                display: flex;
                padding: 10px 10px 10px 14px;
                justify-content: center;
                align-items: center;
                &.page_active{
                    background: #00a5e7;
                    border-radius: 10px;
                    color: #fff;
                }
            }
        }
        .page_tasteButtons{
            margin-left: 20px;
            display: flex;
            button{
                display: flex;
                align-items: center;
                color: rgba(0, 0, 0, .5);
                font-size: var(--font-desc3);
                font-weight: 600;
                line-height: 22px;
                border: 1px solid rgba(43, 43, 43, .122);
                border-radius: 10px;
                padding: 6px 12px 8px 9px;
                gap: .2rem;
                transition: all .3s cubic-bezier(.66,.1,.37,.94);
                &.page_activeApple{
                    color: #00a650;
                    border: 1px solid #00a650;
                    transition: all .3s cubic-bezier(.66,.1,.37,.94);
                }
            }
            button+button{
                margin-left: 10px;
            }
        }
    }

    .page_productNameSubtitle{
        color: #222;
        font-size: var(--font-title1);
        line-height: 1em;
        font-weight: 700;
    }
    .page_productNameTitle{
        color:var(--custom-sky);
        font-size: var(--font-title);
        line-height: 1em;
        font-weight: 700;
    }
    .page_productDescriptions{
        color: #555;
        font-size: var(--font-text2);
        line-height: 1.4em;
        font-weight: 500;
        
    }
    .page_hashtags{
        display: flex;
        flex-wrap: wrap;
        gap: .6rem;
        .tag2{
            font-size: var(--font-desc3);
            display: inline-flex;
            color: #222;
            padding: 3px 10px;
            border-radius: 100px;
            border: 1px solid #111;
        }
    }
    
    @media (max-width: 1024px){
		width: 100%;
        >div{
            width: 100%;
        }
        .page_productNameContainer .page_buttonGroups button,
        .page_productNameContainer .page_tasteButtons button{
            font-size: var(--font-text3);
        }
        .page_productDescriptions{
            font-size: var(--font-text1);
        }
	}

    @media (max-width: 700px){
        .page_productNameContainer{
            flex-wrap: wrap;

        }
		.page_productNameContainer .page_buttonGroups{
            width: 100%;
            button{
                padding-left: 0;
                padding-right: 0;
                width: 50%;
                font-size: var(--font-title4)
            }
        }
        .page_productNameContainer .page_tasteButtons{
            margin-left: 0;
            margin-top: 10px;
            button{
                font-size: var(--font-title4)
            }
        }
        .page_productDescriptions{
            font-size: var(--font-title3);

        }
        .page_hashtags .tag2{
            border-color: #ddd;
            font-size: var(--font-text3)
        }
	}
}

.page_stickBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    pointer-events: none;
    img{
        width: 35%;
        // height: 70%;
        // max-width: auto;
    }
}

.page_aboutBenefits{
    width: 50vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    @media (min-width: 1024px){
        &.grid-m{
            padding-right: 0;
        }
    }

    .page_benefitTextTitle{
        color: #222;
        font-size: var(--font-title2);
        font-weight: 700;
    }
    .page_benefits{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .benefit{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            .page_benefitTitle{
                color:#222;
                font-size: var(--font-text1);
                font-weight: 700;
            }
            .page_benefitDesc{
                color:#666;
                font-size: var(--font-text2);
                font-weight: 500;
                line-height: 1.4em;
            }
        }
    }
    @media (max-width: 1024px){
		width: 100%;
        >div{
            width: 100%;
        }

        .page_benefits{
            flex-wrap: nowrap;
            width: 250%;
            .benefit{
                display: block;
                .page_benefitText{
                    margin-top: 10px;
                    .page_benefitTitle{
                        font-size: var(--font-title4)
                    }
                    .page_benefitDesc{
                        font-size: var(--font-text0);
                        margin-top: 5px
                    }
                }
            }
        }
	}
}


