@charset "utf-8";

.page_ingredientsCtn{

    width: 50%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    @media (min-width: 1024px){
        &.grid-m{
            padding-right: 0;
        }
    }

    >div{
        width: 100%;
    }

    .page_ingredientTextTitle{
        color: #222;
        font-size: var(--font-title1);
        line-height: 1.2em;
        font-weight: 700;
    }
    .page_ingredientDescription{
        color: #555;
        font-size: var(--font-text2);
        line-height: 1.4em;
        font-weight: 500;
    }
    .page_ingredients{
        &.grid-m{
            padding-left: 0;
        }
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 2rem;
        margin-top: 4rem;
        width: 90%;
        grid-gap: 1.2rem;
        gap: 1.2rem;
 
    }
    .page_ingredientText{
        color: #222;
        font-size: var(--font-text4);
        line-height: 1.4em;
        font-weight: 700;
    }

  

    @media (max-width: 1024px){
        width: 100%;
        .page_ingredientTextTitle{
            font-size: var(--font-title);
        }
        .page_ingredientDescription{
            font-size: var(--font-title4);
            br{
                display: none;
            }
        }
        .page_ingredientsCtn .page_ingredients.grid-m{
            >div{
                width: 15%;
            }
        }
        .page_ingredients{
            display: flex;
            flex-wrap: nowrap;
            grid-column-gap: 1.6rem;
            margin-top: 2.8rem;
            width: 100%;
            overflow: visible; /* 넘친 부분이 보이도록 설정 */

            &.grid-m{
                padding-right: 0;
            }
            >div {
                width: calc(25% - 10px);
                flex-shrink: 0; //자식 요소들이 크기를 줄이지 않도록
            }            
     
        }
    }

    @media (max-width: 588px){
        .page_ingredients{

            flex-wrap: nowrap;
            
        }
    }
}