/* 폰트 */
@import "__font";

html,body{   
    
    /* 스크롤바 자체 */
    ::-webkit-scrollbar {
        width: 10px;  /* 스크롤바 너비 */
        height: 10px; /* 수평 스크롤바 높이 */
    }

    /* 스크롤바 트랙 (배경) */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;  /* 트랙 배경 색상 */
        border-radius: 10px;  /* 트랙 모서리 둥글게 */
    }

    /* 스크롤바 핸들 */
    ::-webkit-scrollbar-thumb {
        background-color: #888;  /* 핸들 배경 색상 */
        border-radius: 10px;  /* 핸들 모서리 둥글게 */
    }

    /* 스크롤바 핸들에 호버 시 색상 변화 */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;  /* 핸들 호버 색상 */
    }
}

body{
    overflow-x: hidden;
}

/* 커스텀 색상 추가 */
:root {
    --custom-sky: #00a5e7;
    --custom-blue: #0f3bae;
    --custom-gray: #333;
}

/* TailwindCSS 유틸리티 클래스를 사용해 사용자 정의 색상 적용 */
.bg-custom-sky {background-color: var(--custom-sky);}
.text-custom-sky {color: var(--custom-sky);}
.border-custom-sky {border-color: var(--custom-sky);}
.bg-custom-blue {background-color: var(--custom-blue);}
.text-custom-blue {color: var(--custom-blue);}
.border-custom-blue {border-color: var(--custom-blue);}
.bg-custom-gray {background-color: var(--custom-gray);}
.text-custom-gray {color: var(--custom-gray);}
.border-custom-gray {border-color: var(--custom-gray);}

/* nav */
a,button{cursor: pointer;}

/* MAIN */

.product-h2{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    >div{
        width: 100%;
        color:var(--custom-gray);
        font-size: var(--font-main-title);
        font-weight: 700;
        line-height: 1em;
        overflow: hidden;
        br{
            display: none;
        }
    }  
    
    &.page_clipPathContainer{
        background: var(--custom-sky);
        >div{
            color:#fff
        }
    }
}

.stickWrap{
    position: relative;
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    .stickInner{
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: -140px;
        transform: translateX(-50%);       
        
        img{
            display: inline-block;
            width: 100px;
            position: relative;
            margin: 0 5px;
            &.stick_01{                
                position: absolute;
                bottom: -40px;
                left:calc(50% - 80px);
                transform-origin: bottom;
                transform: rotate(-20deg)
            }
            &.stick_03{                
                position: absolute;
                bottom: -40px;
                left:calc(50% - 30px);
                transform-origin: bottom;
                transform: rotate(20deg)
            }
        }
    }
}

.stickWrap2{
    position: relative;
    text-align: center;
    >div{
        position: relative;
        display: inline-block;
    }
    .cover{
        position: absolute;
        top: 60px;
        right: 0;
        transform-origin: bottom;
        transform: rotate(-20deg)
    }
    img{ 
        width: 70px;
        display: inline-block;
        position: relative;
        &.stick_in,
        &.stick_cover{
            position: absolute;
            bottom: 0;
            right: 0;
        }
        &.stick_top{
            position: absolute;
            top: -50px;
            right: -50px;
            transform: rotate(45deg)
        }
        &.stick_in{
            height: 80%;
        }
    }
}

.page_introductions{
    width: 50vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    &.grid-m{
        padding-right: 0;
    }

    .page_productNameContainer{
        display: flex;
        align-items: center;
        .page_buttonGroups{
            display: flex;
            padding: .3rem;
            align-items: center;
            background: #f3f3f3;
            border-radius: 10px;
            button{
                color: rgba(0, 0, 0, .5);
                font-size: var(--font-desc2);
                // line-height: 2.4rem;
                font-weight: 600;
                display: flex;
                padding: 10px 10px 10px 14px;
                justify-content: center;
                align-items: center;
                &.page_active{
                    background: #00a5e7;
                    border-radius: 10px;
                    color: #fff;
                }
            }
        }
        .page_tasteButtons{
            margin-left: 20px;
            display: flex;
            button{
                display: flex;
                align-items: center;
                color: rgba(0, 0, 0, .5);
                font-size: var(--font-desc3);
                font-weight: 600;
                line-height: 22px;
                border: 1px solid rgba(43, 43, 43, .122);
                border-radius: 10px;
                padding: 6px 12px 8px 9px;
                gap: .2rem;
                transition: all .3s cubic-bezier(.66,.1,.37,.94);
                &.page_activeApple{
                    color: #00a650;
                    border: 1px solid #00a650;
                    transition: all .3s cubic-bezier(.66,.1,.37,.94);
                }
            }
            button+button{
                margin-left: 10px;
            }
        }
    }

    .page_productNameSubtitle{
        color: #222;
        font-size: var(--font-title1);
        line-height: 1em;
        font-weight: 700;
    }
    .page_productNameTitle{
        color:var(--custom-sky);
        font-size: var(--font-title);
        line-height: 1em;
        font-weight: 700;
    }
    .page_productDescriptions{
        color: #555;
        font-size: var(--font-text2);
        line-height: 1.4em;
        font-weight: 500;
        
    }
    .page_hashtags{
        display: flex;
        flex-wrap: wrap;
        gap: .6rem;
        .tag2{
            font-size: var(--font-desc3);
            display: inline-flex;
            color: #222;
            padding: 3px 10px;
            border-radius: 100px;
            border: 1px solid #111;
        }
    }
}

.page_stickBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    pointer-events: none;
    img{
        width: 35%;
        // height: 70%;
        // max-width: auto;
    }

}

.page_blueBox{
    // position: absolute;
    // top: 50%;
    // right: 0;
    // transform: translateY(-50%);
    transform-origin: center;
    width: 50%;
    height: 100vh;
    background: var(--custom-sky);

    // transform: scale(0.8, 0.8);
    // border-radius: 100%;
}

.page_aboutBenefits{
    width: 50vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    &.grid-m{
        padding-right: 0;
    }

    .page_benefitTextTitle{
        color: #222;
        font-size: var(--font-title1);
        font-weight: 700;
    }
    .page_benefits{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .benefit{
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            .page_benefitTitle{
                color:#222;
                font-size: var(--font-text1);
                font-weight: 700;
            }
            .page_benefitDesc{
                color:#666;
                font-size: var(--font-text2);
                font-weight: 500;
                line-height: 1.4em;
            }
        }
    }
}


/* horizontal */
.page_horizontalItemWrap {
    .parallax__item {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .page_horizontalItemTitle{
        font-size: var(--font-horizontal-title)
    }
    .items-title{
        font-size: var(--font-title2);
        line-height: 1.2em;
    }
    .items-tag{
        font-size: var(--font-text2);
    }
}

.page_ingredientsCtn{
    width: 50vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    &.grid-m{
        padding-right: 0;
    }

    .page_ingredientTextTitle{
        color: #222;
        font-size: var(--font-title1);
        line-height: 1.2em;
        font-weight: 700;
    }
    .page_ingredientDescription{
        color: #555;
        font-size: var(--font-text2);
        line-height: 1.4em;
        font-weight: 500;
    }
    .page_ingredients{
        &.grid-m{
            padding-left: 0;
        }
    }
    .page_ingredientText{
        color: #222;
        font-size: var(--font-text4);
        line-height: 1.4em;
        font-weight: 700;
    }
}


.infoWrap{
    >div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .slideWrap{
        width: 440px;
    }
    .slideDesc{
        >div{
            width: min-content;
            white-space: nowrap;
        }
    }
    
    .pdSlider{
        position: relative;

        .swiper-slide {background: pink; font-size: 100px; text-align: center; line-height:100vh; font-weight:900;}
        

        
        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
            margin :0;
            margin-right: 20px;
        }

        .swiper-pagination-bullet {
            position: relative;
            width: 8px;
            height: 8px;
            text-align: left;
            border-radius: 0;
            opacity: 1;
            margin-right: 20px;
            background-color: transparent;
            border-radius: 8px;
            i {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 8px;
                background-color: #d4d6db;
                border-radius: 8px;
            //progress bar 배경
            }
            b {
                position: absolute;
                bottom: 0;
                left:  0;
                z-index: 2;
                width: 0%;
                height: 8px;
                background-color: hsla(0,0%,7%,.5);
                border-radius: 8px;
            //progress bar 채워지는 부분
            }
        }

        .swiper-pagination-bullet-active {
            background-color: transparent;
            width: 50px;
            b {  
                animation-name: countingBar;
                animation-duration: 3s;//autopaly 시간과 맞춰주기
                animation-timing-function: ease-in;
                animation-iteration-count: 1;
                animation-direction: alternate ;
                animation-fill-mode:forwards;
            }
        }    
        
        @keyframes countingBar {
            0% {width: 0;}
            100% {width:100%;}
        }
        
        
    }

}


.figureWrap{
    .figure-bg{
        position: absolute;
        width: 120%;
        height: 120%;
        // transform: translateY(100%);
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        background: hsla(0, 0%, 100%, .698);
        // background: #f00;
        left: -10%;

    }

    .figure-img-card{
        position: relative;
        .figure-parallax-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            z-index: 1;
            position: relative;
        }
        &.new{            
            &::before {
                content: "NEW";
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 6.5%;
                left: 6.5%;
                background-color: #f0048c;
                color: #fff;
                font-size: var(--font-text3);
                font-weight: 500;
                letter-spacing: -.48px;
                padding: 0 .8125em;
                border-radius: 2.5rem;
                height: 2em;
            }
        }
        img{
            width: 80%;
            margin: 0 auto;
        }

        position: relative;
        height: 0;
        padding-top: 100%;
        .figure-img-wrap{
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
        }
       
    }
}

#footer{
    position: relative;
    background: #fff;
    padding-top: max(3rem,3.125vw);
    padding-bottom: 5.8rem;
    margin-top: 1px;
    .footer-logo {
        width: 13%;
    }

    .link-items {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        position: relative;
        font-size: var(--font-desc2);
        font-weight: 600;
        padding: 1.6rem 0 0;
        white-space: nowrap;
        line-height: 1;
   
    }
    .footer-divider {
        width: 100%;
        height: 1px;
        background: rgba(0,0,0,.12);
        margin: 40px 0 30px;
    }
    .footer-info {
        display: flex;
        align-items: flex-start;
        gap: 3.4rem
    }
    .footer-address {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: .9rem 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.8;
        color: rgba(0,0,0,.7);
        width: 51%;
    }
    .footer-info-container{
        display: flex;
    }
    .footer-socials-wrapper{
        display: flex;
    }
    .footer-socials {
        display: flex;
        gap: 10px;
        .footer-social {
            background: #f5f5f5;
            width: 54px;
            height: 54px;
            border-radius: 54px;
            display: flex;
            justify-content: center;
            svg{
                width: 50%;
            }
        }
    }
    .footer-dropdown {
        width: 240px;
        height: 54px;
        position: relative;
        margin-left: 14px;
        border-radius: 48px;
        background: #f5f5f5;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        
        .dropdown-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 15px 25px;
            font-size: var(--font-desc1);
            svg {
                width: 24px;
                height: 24px
            }
        }
        .dropdown-list {
            display: flex;
            flex-direction: column;
            gap: .3rem;
            position: absolute;
            width: 100%;
            max-height: 20.8rem;
            padding: 20px 25px;
            background: #f5f5f5;
            border-radius: 30px;
            // opacity: 0;
            overflow: auto;
            // transform: scale(.8);
            transform-origin: top;
            will-change: transform,opacity;
            z-index: 1;
            -ms-overflow-style: none;
            scrollbar-width: none;
            bottom: calc(100% + 10px);
            a{
                font-size: var(--font-desc1);
                color: #222;
                font-weight: 400;
                +a{
                    margin-top: 10px;
                }
            }
        }
    }
}