@charset "utf-8";
.product-h2{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .page_masking{
        width: 100%;
        color:var(--custom-gray);
        font-size: var(--font-top-title);
        font-weight: 700;
        line-height: 1em;
        overflow: hidden;
        text-align: center;
        
        br{
            display: none;
        }
    }  
    
    &.page_clipPathContainer{
        background: var(--custom-sky);
        .page_masking{
            color:#fff
        }
    }
}

.stickWrap{
    position: absolute; top: 0; left: 0;
    width: 100vw;
    height: 100%;
    text-align: center;
    overflow: hidden;
    .stickInner{
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: -140px;
        transform: translateX(-50%);       
        
        img{
            display: inline-block;
            width: 100px;
            position: relative;
            margin: 0 5px;
            &.stick_01{                
                position: absolute;
                bottom: -40px;
                left:calc(50% - 80px);
                transform-origin: bottom;
                transform: rotate(-20deg)
            }
            &.stick_03{                
                position: absolute;
                bottom: -40px;
                left:calc(50% - 30px);
                transform-origin: bottom;
                transform: rotate(20deg)
            }
        }
    }
    
}

.page_introductions{
    display: flex;
    align-items: center;
    height: 100%;
    >div{
        width: 50%;
    }

    .page_buttonGroups{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.6rem;
        margin-bottom: 2.5rem;

        .page_typeButtons{
            display: flex;
            padding: .4rem;
            align-items: center;
            background: #f3f3f3;
            border-radius: 1.2rem;
            
            button{
                color: rgba(0, 0, 0, .5);
                font-size: 1.4rem;
                line-height: 2.4rem;
                font-weight: 600;
                display: flex;
                padding: 1.1rem 1rem 1.1rem 1.4rem;
                justify-content: center;
                align-items: center;
                svg{
                    width: 1.6rem;
                    height: 1.6rem;
                }
                &.page_active{
                    background: #00a5e7;
                    border-radius: 1.2rem;
                    color: #fff;
                }
            }
        }
        .page_tasteButtons{
            display: flex;
            gap: .8rem;
            // white-space: pre-wrap;
            button{              
                display: inline-flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: rgba(0, 0, 0, .5);
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 22px;
                border: 1px solid rgba(43, 43, 43, .122);
                border-radius: 1.2rem;
                padding: .4rem 1.2rem .4rem .8rem;
                gap: .2rem;
                transition: all .3s cubic-bezier(.66,.1,.37,.94);
                &.page_activeApple{
                    color: #00a650;
                    border: 1px solid #00a650;
                    transition: all .3s cubic-bezier(.66,.1,.37,.94);
                }
                &.page_activePeach{
                    color: #ff97cb;
                    border: 1px solid #ff97cb;
                    transition: all .3s cubic-bezier(.66,.1,.37,.94);
                }
                svg{
                    width: 2.6rem;
                    height: 3rem;
                }
            }
        }
    }

    .page_productNameSubtitle{
        font-size: var(--intro-subtitle);
        line-height: 120%;
        font-weight: 700;
        color:#222
    }
    .page_productNameTitle{
        font-size: var(--intro-title);
        line-height: 120%;
        font-weight: 700;
        color:#00a5e7
    }
    .page_productDescriptions{
        margin-top: 2.4rem;
        font-size: var(--intro-desc);
        line-height: 120%;
        font-weight: 500;
        color:#555
    }
    .page_hashtags{
        margin-top: 6rem;
        display: flex;
        flex-wrap: wrap;
        gap: .6rem;
        .tag2{
            font-size: var(--comm-desc);
            display: inline-flex;
            color: #222;
            padding: .38em .63em;
            border-radius: 100px;
            border: 1px solid #111;
            font-weight: 500;
        }
    }
}

.page_aboutBenefits{
    display: flex;
    align-items: center;
    height: 100%;
    >div{
        width: 50%;
    }

    svg{
        width: 10rem;
    }

    .page_benefitTextTitle{
        font-size: var(--intro-subtitle);
        line-height: 120%;
        font-weight: 700;
        color:#222
    }

    .page_benefits{
        margin-top: 5rem;
    }

    .benefit{
        display: flex;
        align-items: center;
        gap: 0 20px;
        margin-bottom: 2vw;
        .page_benefitText{
            
            .page_benefitTitle{
                font-size: var(--intro-desc);
                line-height: 120%;
                font-weight: 600;
                color:#222
            }
            .page_benefitDesc{
                margin-top: .4rem;
                font-size: var(--intro-desc);
                line-height: 150%;
                font-weight: 500;
                color:#555
            }
        }
    }

   
}

.page_blueBox{
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #00a5e7;
}

.page_stickBox{
    position: absolute;
    top: 53%;
    left: 52%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 35%;
}

.stickWrap2{
    position: absolute;
    bottom: 13%;
    right: 36%;
    >div{
        position: relative;
        display: inline-block;
    }
    .cover{
        position: absolute;
        top: 60px;
        right: 0;
        transform-origin: bottom;
        transform: rotate(-20deg)
    }
    img{ 
        width: 70px;
        display: inline-block;
        position: relative;
        &.stick_in,
        &.stick_cover{
            position: absolute;
            bottom: 100px;
            right: 0;
        }
        &.stick_top{
            position: absolute;
            top: -130px;
            right: -80px;
            transform: rotate(45deg)
        }
        &.stick_in{
            height: 80%;
        }
    }
}

.page_stickyContainer{
    display: flex;
    width: 100%;
    height: 800px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .page_stickyItem{
        width: 100%;
        height: 100%;
        position: relative;
    }

    @media (min-height: 800px){
        height: 100vh;
    }
}