@charset "utf-8";

#footer{
    position: relative;
    background: #fff;
    padding-top: max(3rem,3.125vw);
    padding-bottom: 5.8rem;
    margin-top: 1px;
    .footer-logo {
        width: 16rem;
        min-width: 16rem;
        @media (max-width: 1366px){
            width: 10.6rem;
            min-width: 10.6rem;
        }
        @media (max-width: 700px){
            width:30%;
        }
    }

    .link-items {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        position: relative;
        padding: 1.6rem 0 0;
        white-space: nowrap;
        line-height: 1;
        a{
            font-size: var(--comm-desc);
            font-weight: 600;
            color: #222;
            @media (max-width: 700px){
                font-size: calc(var(--comm-desc) *2);
            }
        }
   
    }
    .footer-divider {
        width: 100%;
        height: 1px;
        background: rgba(0,0,0,.12);
        margin: 40px 0 30px;

        @media (max-width: 1366px){
            margin: 2rem 0
        }
        @media (max-width: 700px){
            margin: 3rem 0 3rem
        }
    }
    .footer-info {
        display: flex;
        align-items: flex-start;
        gap: 3.4rem;
        @media (max-width: 1366px){
            gap: 2.26rem
        }
    }
    .footer-address {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: .9rem 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.8;
        color: rgba(0,0,0,.7);
        word-break: keep-all;
        // width: 51%;
        .address-item{
            max-width: 39vw;
        }
        .address-divider {
            display: inline-block;
            width: 1px;
            height: .8rem;
            margin: 0 .6rem;
            background: #d9d9d9
        }
        @media (max-width: 1366px){
            font-size: 1.1rem;

            .address-item{
                max-width: 53vw;
            }
        }
        @media (max-width: 700px){
            .address-item{
                max-width: none;
            }
        }
    }
    .footer-info-container{
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }
    .footer-socials-wrapper{
        display: flex;
    }
    .footer-socials {
        display: flex;
        gap: 10px;
        .footer-social {
            background: #f5f5f5;
            width: 4.8rem;
            height: 4.8rem;
            border-radius: 4.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                width: 50%;
            }
            
            @media (max-width: 1366px){
                width: 3.2rem;
                height: 3.2rem;
            }
        }
    }
    .footer-dropdown {        
        position: relative;
        width: 22.5rem;
        height: 4.8rem;
        margin-left: 1.4rem;
        border-radius: 48px;
        background: #f5f5f5;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        
        .dropdown-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // width: 100%;
            // height: 100%;
            padding: 1.2rem 2.4rem;
            
        }
        .dropdown-list {
            @include ani(0.2s, ease-out);
            // display: none;
            z-index: -1;
            flex-direction: column;
            gap: .3rem;
            position: absolute;
            bottom: 5.8rem;
            width: calc(100% - 2rem);
            max-height: 20.8rem;
            padding: 1.25rem 1rem;
            background: #f5f5f5;
            border-radius: 2.5rem;
            opacity: 0;
            overflow: auto;
            transform: scale(.8);
            transform-origin: top;
            will-change: transform,opacity;
            -ms-overflow-style: none;
            scrollbar-width: none;
            .dropdown-item {
                display: flex;
                align-items: center;
                padding: .75rem 2.2rem .75rem 1.5rem;
                font-weight: 400;
                letter-spacing: -.48px;
                border-radius: 100px;
                color:#222;
                font-size: var(--comm-desc);
            }
            @media (min-width: 1024px){
                .dropdown-item:hover {
                    background: #0f3bae;
                    color: #fff
                }
            }
            @media (max-width: 700px){
                .dropdown-item {
                    font-size: calc(var(--comm-desc) * 2.2vw);
                }
            }
        }
        svg{
            width: 2.4rem;
            height: 2.4rem;
        }
        
        @media (max-width: 1366px){
            width: 17rem;
            height: 3.2rem;
            .dropdown-header {                    
                // padding: .8rem 1.6rem;
                padding: 0 1.6rem;
                font-size: 1.2rem;
                height: 100%;
                svg{
                    width: 1.6rem;
                    height: 1.6rem;
                }
            }
        }
      
    }

    .open {
        .dropdown-list {
            // display: block;
            z-index: 1;
            opacity: 1;
            transform: scale(1);
            visibility: visible;
        }
        .dropdown-header svg {
            transform: rotate(180deg);
        }
    }

    @media (max-width: 1024px){
        .footer-info-container{
            // display: block;
        }
        .footer-info{
            display: block;
        }
        .footer-logo{
            width: 40%;
        }
        .footer-address{
            width: 100%;
            margin-top: 20px;
        }
        .footer-socials-wrapper{
            margin-top: 40px;
        }
        .footer-dropdown{
            height: 4.5rem;
        }
        .footer-socials .footer-social{
            width: 4.5rem;
            height: 4.5rem;
        }
    }

    @media (max-width: 700px){
        .footer-logo{
            width: 30%;
        }
        .footer-info-container{
            flex-direction: column;
            align-items: flex-start;
        }
        .footer-socials-wrapper{
            margin-top: 40px;
        }
    }

}