@charset "utf-8";

.page_horizontalItemWrap {
    position: relative;
    // width: 100%;
    // height: 100vh;
    z-index: 2;

    section{
        width: 100%;
        height: 100vh;
        // height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;

        &.hori_01{background: var(--custom-blue);}
        &.hori_02{background: var(--custom-green);}
        &.hori_03{background: var(--custom-pink);}
    }

    .page_horizontalItem{
        width: 100%;
        position: relative;
        .page_horizontalItemTitle{
            font-size: var(--font-hori-title);
            position: relative;
            color: #fff;
            line-height: normal;
            white-space: nowrap;
            font-weight: 700;
            margin-bottom: -4rem;
            +.page_horizontalItemTitle{
                text-align: right;
                margin-bottom:0;
            }
            @media (max-width: 1366px){
                margin-bottom: -2rem;
                +.page_horizontalItemTitle{
                    margin-bottom:0;
                }
            }
        }
        >div{
            @media (max-width: 700px){
                height: 100%;
            }
        }
    
    }
    .page_horizontalItemDesc{
        position: absolute;
        bottom:20%;
        left: 0;
        width: 100%;
        .items-title{
            font-size: var(--intro-subtitle);
            line-height: 120%;
            color: #fff;
            font-weight: 700;
        }
        .items-tag{
            font-size: var(--comm-desc);
            line-height: 120%;
            color: #fff;
            margin-top: 2.4rem;
        }
        @media (max-width: 1366px){
            .items-tag{
                font-size: var(--intro-desc);
            }
        }
        @media (max-width: 700px){
            .items-title{
                font-size:clamp(2.2rem,7.1785vw,3.3rem);
                width: 70%;
                word-break: keep-all;
            }
            .items-tag{
                font-size: 1.7rem;
            }
        }
    }

    .lottie-star{
        position: absolute;
        &.lottie-star1{
            width: 12vw;
            top: 15%;
            left: 33%;
        }
        &.lottie-star2{
            width: 20vw;
            top: 45%;
            left: 30%;
        }
        &.lottie-star3{
            width: 18vw;
            bottom: 10%;
            right: 30%;
        }

        @media (max-width: 1024px){
            &.lottie-star1{
            }
            &.lottie-star2{
            }
            &.lottie-star3{
                width: 20vw;
                bottom: 20%;
                right: 30%;
            }
        }
        @media (max-width: 700px){
            &.lottie-star1{
                width: 20vw;
                top: 20%;
            }
            &.lottie-star2{
                width: 30vw;
                top: 35%;
                left: 15%;
            }
            &.lottie-star3{
                width: 45vw;
                bottom: 30%;
                right: 15%;
            }
        }
    }

    .emog{
        position: absolute;
        img{
            width: 100%;
        }

        &.zero{
            width: 6vw;
            top: 15%;
            left: 33%;
        }
        &.star{
            width: 5vw;
            top: 50%;
            left: 30%;
        }
        &.cloud{
            width: 10vw;
            bottom: 20%;
            right: 33%;
        }
        &.spring{
            width: 6vw;
            top: 38%;
            right: 25%;
        }


        &.spring2{
            width: 6vw;
            top: 18%;
            left: 40%;
        }
        &.star2{
            width: 5vw;
            top: 40%;
            right: 25%;
        }
        &.bag{
            width: 8vw;
            bottom: 15%;
            right: 34%;
        }
        &.sun{
            width: 12vw;
            top: 42%;
            left: 30%;
        }        


        &.spring3{
            width: 6vw;
            top: 15%;
            left: 33%;
        }
        &.mango{
            width: 9vw;
            bottom: 45%;
            left: 35%;
        }
        &.smile{
            width: 9vw;
            top: 15%;
            right: 30%;
        }

        @media (max-width: 1024px){
            
        }
        @media (max-width: 700px){
            &.zero{
                width: 12vw;
                top: 16%;
                left: 33%;
            }
            &.star{
                width: 10vw;
                top: 43%;
                left: 30%;
            }
            &.cloud{
                width: 20vw;
                bottom: 40%;
                right:25%;
            }
            &.spring{
                width: 12vw;
                top: 28%;
                right: 25%;
            }


            &.spring2{
                width: 12vw;
                top: 18%;
                left: 40%;
            }
            &.star2{
                width: 10vw;
                top:30%;
                right: 25%;
            }
            &.bag{
                width: 18vw;
                bottom: 30%;
                right: 24%;
            }
            &.sun{
                width: 22vw;
                top: 42%;
                left: 30%;
            }        


            &.spring3{
                width: 12vw;
                top: 18%;
                left: 33%;
            }
            &.mango{
                width: 15vw;
                bottom: 54%;
                left: 35%;
            }
            &.smile{
                width: 15vw;
                top: 20%;
                right: 15%;
            }
        }
    }
}

.page_horizontalItemWrap{
    width: 100%;

    .page_horizontalItem{
        padding-bottom: 6.3rem
    }

    @media (max-width: 1024px){
        height: auto;
        .page_horizontalInner2{
            width: 100%;
            display: block;
        }
        .page_horizontalInner1{
            
            height: 100vh;
            overflow: hidden;
        }
    }
    @media (max-width: 700px){
        .page_horizontalItem{
            padding-bottom: 16.3rem
        }
        .page_horizontalItemDesc{
            bottom: 30%;
        }
    
    }
}

.videoWrap{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    z-index: 2;
    
    img{
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        //width: 100%;
        height: auto;
        //transition: opacity 0.5s ease-in-out; /* 부드럽게 나타나도록 설정 */
        &.img2{
            opacity: 1;
        }

        width:3.3vw;
    }

    @media (max-width: 1024px){
        height: 100vh;
        img{
            // top: 0;
            // left: 0;
            // transform: none;
            width:10vw;
        }
    }
}

//가로
@media screen and (max-width: 1024px) and (orientation: landscape) {
    .videoWrap img{
        width: 6vh;
    }
}
